.basket{
    min-height: 80vh;
}
.basket__empty {
    text-align: center;
    margin-top: 400px;
}

.basket__total {
    text-align: center;
    align-self: flex-start;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    color:black;
}

.basket__total > h2 {
    font-weight: bold;
    font-size:22px;
}

.basket__total > h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.basket > h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.basket {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.basket__sneaker {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

