.sneaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-bottom: 50px;
    width: 450px;
    border: 1px solid lightgray;
    text-decoration: none;
}

.sneaker:hover {
    border: 1px solid black;
    opacity: 0.6;
    cursor: pointer;
}

.sneaker > h2, .sneaker > p {
    text-decoration: none;
    color: black;
}

.sneaker > h2 {
    font-size: 17px;
    font-weight: 400;
}

.sneaker > p {
    font-weight: bold;
    font-size: 15px;
}

.sneaker__delete {
    
    border: 1px solid red;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-end;
    
}

.sneaker__delete:hover{
    background-color: lightgray;
}